body {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
  color: #272521;
  line-height: 16pt;
  padding-left: 130pt;
  padding-right: 5pt;
  padding-top: 5pt;
  word-wrap: break-word;
  max-width: 600;
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  /*color: #8094d6;*/
}

a:hover, a:active {
  /*color: #FF9933;*/
}
